apiVersion: v2
description: Private Law - CCD Definitions
name: prl-ccd-definitions
version: 0.0.27
dependencies:
  - name: nodejs
    version: 3.1.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: ccd
    version: ~8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - ccd-pr
  - name: xui-webapp
    version: ~1.0.16
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: ccd-case-document-am-api
    version: 1.7.14
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.13
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: prl-cos
    version: ~0.0.63
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: prl-cos.enabled
