apiVersion: v2
description: Private Law - CCD Definitions
name: prl-ccd-definitions
version: 0.0.4
dependencies:
  - name: nodejs
    version: ~2.4.1
    repository: '@hmctspublic'
  - name: ccd
    version: ~6.0.0
    repository: '@hmctspublic'
    tags:
      - ccd-pr
  - name: xui-webapp
    version: ~0.2.1
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled