apiVersion: v2
description: Private Law - CCD Definitions
name: prl-ccd-definitions
version: 0.0.38
dependencies:
  - name: ccd
    version: 9.2.2
    repository: 'oci://hmctspublic.azurecr.io/helm'
    tags:
      - ccd-pr
  - name: xui-webapp
    version: ~1.0.12
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: idam-pr.enabled
  - name: ccd-case-document-am-api
    version: 1.7.17
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-case-document-am-api.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.17
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: aac-manage-case-assignment.enabled
  - name: prl-cos
    version: ~0.0.63
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: prl-cos.enabled
  - name: postgresql
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: postgresql.enabled
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: wa
    version: ~1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wa.enabled
  - name: ccd-message-publisher
    version: ~0.1.22
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-message-publisher.enabled
  - name: prl-cron
    version: 0.0.18
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: prl-cron.enabled
  - name: fis-hmc-api
    version: ~0.0.37
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: fis-hmc-api.enabled
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
    alias: hmcsb