postgresql:
  enabled: false
idam-pr:
  enabled: false
xui-webapp:
  enabled: false
tags:
  ccd-pr: false
xui-mo-webapp:
  enabled: false
ccd-case-document-am-api:
  enabled: false
aac-manage-case-assignment:
  enabled: false
prl-cos:
  enabled: true
